

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*start - General Attributes */
	body {
		line-height: 1;
		font-family: arial;
		color: #949596;
		margin:0 auto;
		font-size:14px}


	h1 {font-size:2em;
		font-family: 'Lobster Two', bold;
		font-weight:bold;
		line-height:1.3em;
		color:#744918;}
	
	h2 {font-size:16px;
		color:#744918;
		line-height:2em;
		padding-bottom:15px;
		text-transform:uppercase;}
	
	p {font-size:11px;
		line-height:1.5em;
		padding-bottom:15px;}
/*end - General Attibutes */

/*start - Main Menu () */

#main-menu  {
	position: absolute;
    top:120px;
	left:0px;
    right:0px;
    background-color:#744918;
    padding:0 px;
    margin:0 auto;}

  #main-menu li a { float:left;}

	#main-menu li a:hover { color:#b7c850; }
	
  #main-menu li.last { border:0px; }

	#main-menu li:first-child {display:none;}

  #main-menu li a { 
	display:block; 
    padding:15px 20px;
    font-size:20px;
	margin: -8px;
    color:white;
    text-decoration:none;
	text-transform: uppercase;
	font-weight: bold;}

#top-nav {
	position:absolute;
	top:30px;
	right:80px;
	color:#744918;
	text-decoration:none;
	font-size:14px;}
	

#top-nav a {
	color:#744918;
	text-decoration:none;
	font-size:14px;
	margin: 0 auto;}

#site-wrapper {
	position:relative;
	padding-left: 20px;
	margin: 0;
	background-color: #eff4da;
}
#site-header h1 a { 
  	display:block;	  
  	position:top-left;
	height:123px;
  	background:url(images/logo.png) no-repeat left top;
	background-color: #eff4da;
	text-indent:-9999px;
	}


#content-wrapper {
	background-color:#ffffff;
	top: 30px;
	position:relative;
	width:1000px;
	margin: 0 auto;
	clear: both;
}
#content {
	position:absolute;
	float:left;
	width:850px;
	padding: 40px;
}

#page {
	position:absolute;
	top:0px;
	left:0;
	width: 400px;
}
#sidebar {
	position:absolute;
	top:0px;
	right:0px;
	width: 280px;
	padding-left:10px;
	padding-right:10px;
	margin: 0 auto;
}

#sidebar h1 {
	font-size:16px;
	font-family:arial;
	color:#744918;
	line-height:2em;
	padding-bottom:15px;
	text-transform:uppercase;
}

#sidebar img {
	padding-top:5px;
	padding-bottom:5px;}

#footer-wrapper {
	position:relative;
	top:600px;
	right:0;
	background-color: #744918;
	clear:both;
	height: 150px;
	padding: 20px;
}

#site-footer h1 {
	color:#cdc2ab;
	text-transform:uppercase;
	font-size:14px;
	font-family:arial;
}

#site-footer p {
	color:white;
}

#site-footer {
	position:relative;
	bottom:0;
	padding: 10px;
	margin:0 auto;
}

#footer-contact {
	position:absolute;
	top:0;
	left:0;
	width: 200px;
}

#footer-follow {
	position: absolute;
	top:0;
	right:0px;
	float:right;
}

#footer-follow li {
	display:inline-block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

